.index-header {
    position: fixed;
    width: 100%;
}

.index-header-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

.index-header-buttons {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 12px;
    margin-left: auto;
}

.index-hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    bottom: 0px;
}

.index-hero-content {
    position: absolute;
    width: 100vw;
    bottom: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index-hero-content-title {
    font-size: 48px;
}